@charset 'utf-8';

  /* main_banner */
  .main_banner{
    height:600px; border-top:1px solid #f2f2f2; background: url(../images/footprint_main_banner.jpg) no-repeat center;  background-size:1280px; background-size:1280px; background-position:0 -30px;
  }
.main_banner>.map>.container>.map_tit>.main_tit{
  line-height:50px; margin:209px 0 40px 0;
}
.main_banner>.map>.container>.map_tit>.eng{
  font-size:18px; font-weight:bold; margin:10px 0;
}
.main_banner>.map>.container>.map_tit>h2{
  font-size:18px; line-height:32px;
}
/* redlist */
.redlist{
  height:495px;
}
.redlist>.container{
  display:flex; flex-direction:row; padding:70px 0
}
.redlist>.container>.redlist_left{
  padding-right:80px;
}

.redlist>.container>.redlist_left>img{
  width:420px; height:279px;
}
.redlist>.container>.redlist_left>p{
  font-family: 'Noto Sans Korean'; font-size:14px; color:#282828; margin-top:10px;
}
.redlist>.container>.redlist_right>p{
  padding-bottom:40px;
}
.redlist>.container>.redlist_right>p>.eng{
  font-size:30px; font-weight: bold;
}
.redlist>.container>.redlist_right>p>.kor{
  font-family: 'Noto Sans Koraen'; font-size:30px; font-weight: bold; color:#282828;
}

.redlist>.container>.redlist_right>.redlist_tit>p{
  font-family: 'Noto Sans Koraen'; font-size:16px; font-weight:500; line-height:32px; letter-spacing:-2.1px ;color:#282828;
}
.redlist>.container>.redlist_right>.redlist_tit>p:first-child{
padding-bottom: 20px; 
}
